spring:
    datasource:
      url: jdbc:mysql://localhost:3306/expense_tracker
      username: bombardio
      password: Crocodilo@1
      driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
      database: mysql
      database-platform: org.hibernate.dialect.MySQL8Dialect

    application:
      name: expensetracker